[Unit]
Description=Grow
After=multi-user.target
 
[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python /home/pi/dev/grow.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
